* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}

.login-box {
  position: fixed;
  top: 30%;
  left: 36%;
  width: 25%;
  z-index: 201;
  background: #e1f8ff;
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 3px;
}

.login-box div {
  margin: 1rem 15%;
}

.login-form label,
.login-form input {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
}

.login-form label {
  margin-bottom: 1rem;
}

.login-form input {
  width: 100%;
  border: 2px solid #184E77;
  color: #184E77;
  border-radius: 1rem;
  padding: 0.3rem;
  background: rgb(52, 160, 164, 0.3);
}

.login-form .button {
  margin: 0.6rem;
  margin-left: 40%;
  margin-bottom: 1rem;
}

.main-header {
  padding: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #D9ED92;
  font-weight: bold;
  z-index: 100;
}

.logo {
  margin: 0 4rem;
  vertical-align: middle;
}

.logo img{
  width: 1.5rem;
  color: red;
}

.main-nav__items {
  display: inline-block;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  width: 28rem;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #184E77;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #34A0A4;
}

.main-nav__enter {
  position: absolute;
  top:25%;
  right:5%;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  text-align: right;
}

.main-nav__enter li {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border: 2px solid #184E77;
  border-radius: 10px;
  cursor: pointer;
}

.main-nav__enter li a {
  text-decoration: none;
  color: inherit;
}

.main-nav__enter li:hover,
.main-nav__enter li:active {
  background: #184E77;
  color: white;
}

main {
  width: 75%;
  min-height: calc(100vh - 7rem);
  margin: 4rem auto;
}

.promotion {
  background: url("../images/section1-back.jpg") bottom 10% left 10%/cover;
  color: white;
  padding: 3rem;
  padding-top:7rem;
  height: 45vh;
}

.promotion .section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.movies {
  padding: 2rem;
}

.movies .section-header__title {
  display: inline-block;
  vertical-align: middle;
}

.movies__items {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 40px;
  margin: 1rem;
}

.movies__item {
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}

.movies .not-selected:hover {
  background: #daedd6;
  border-radius: 40px;
}

.movies .selected {
  background: #99D98C;
  border-radius: 40px;
}

.movies .section-body {
  text-align: center;
}

.movie-container {
  display: inline-block;
  width: 10rem;
  overflow: hidden;
}

.movies__movie {
  position: relative;
  display: inline-block;
  margin: 1.2rem;
}

.movies__movie img {
  width: 7.8rem;
  border-radius: 1rem;
}

.movies__movie .rate {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  padding: 3px 0;
  bottom: -5px;
  left: 5px;
  width: 2rem;
  height: 2rem;
  background: #52B69A;
  border: 1px solid #B5E48C;
  border-radius: 50%;
}

.fa-heart {
  position: absolute;
  top:6px;
  right:6px;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.not-fav:hover {
  color: #f3f1f1;
}

.details h1{
  height: 28px;
  overflow: hidden;
}
.favourite {
  color: red;
}

.favourite:hover {
  color: #ff3054;
}

.main-footer {
  width: 100%;
  padding: 0.8rem;
  background: #184E77;
  text-align: center;
  margin-top: 3rem;
  z-index: 100;
  position: relative;
}

.footer__items {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer__item {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
}

.footer__item a {
  color: inherit;
}

.footer__item:hover,
.footer__item:active {
  color: #c5fdff;
}

.button {
  font: inherit;
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  background: white;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
}

.button:hover,
.button:active {
  border-radius: 8px;
  background: gray;
  color: white;
  border: 2px solid white;
}

.close {
  display: none;
}
