<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/900efd43e8.js" crossorigin="anonymous"></script>
    <title>Movies</title>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-nav">

        <a href="index.html" class="logo">
          <img src="/images/cinema.png" alt="Movies">
        </a>

        <ul class="main-nav__items">
          <li class="main-nav__item"><a href="/home">Home</a></li>
          <li class="main-nav__item"><a href="/mylistpage">My List</a></li>
        </ul>

        <ul class="main-nav__enter">
          <li class="main-nav__enter__login"><a href="#">LogOut</a></li>
        </ul>

      </nav>
    </header>

    <main>
      <section class="promotion">
        <h1 class="section-title">Welcome.</h1>
        <h2 class="section-desc">Here Is your lovely movies</h2>
      </section>

      <section class="movies">
        <div class="section-header">
          <h1 class="section-header__title">What's Popular</h1>
          <ul class="movies__items">
            <li class="movies__item not-selected">Streaming</li>
            <li class="movies__item not-selected">On TV</li>
            <li class="movies__item not-selected">For Rent</li>
            <li class="movies__item not-selected">In Theaters</li>
          </ul>
        </div>
        <div class="section-body">

          <div class="movie-container">

            <div class="movies__movie">
              <img src="/images/movie1.jpg" alt="">
                <div class="rate">
                  85<sup>%</sup>
                </div>
                <i class="fa-solid fa-heart not-fav"></i>
            </div>

            <div class="details">
              <h1 class="movie-name">The Boys</h1>
              <p class="movie-date">Jul 25,2019</p>
            </div>
          </div>

      <div class="movie-container">
          <div class="movies__movie">
            <img src="/images/movie2.jpg" alt="">
              <div class="rate">
                85<sup>%</sup>
              </div>
              <i class="fa-solid fa-heart not-fav"></i>
          </div>

        <div class="details">
          <h1 class="movie-name">The Boys</h1>
          <p class="movie-date">Jul 25,2019</p>
        </div>
      </div>


      <div class="movie-container">
          <div class="movies__movie">
            <img src="/images/movie3.jpg" alt="">
              <div class="rate">
                85<sup>%</sup>
              </div>
              <i class="fa-solid fa-heart not-fav"></i>
          </div>

          <div class="details">
            <h1 class="movie-name">The Boys</h1>
            <p class="movie-date">Jul 25,2019</p>
          </div>
        </div>

        <div class="movie-container">
          <div class="movies__movie">
            <img src="/images/movie4.jpg" alt="">
              <div class="rate">
                85<sup>%</sup>
              </div>
              <i class="fa-solid fa-heart not-fav"></i>
          </div>

          <div class="details">
            <h1 class="movie-name">The Boys</h1>
            <p class="movie-date">Jul 25,2019</p>
          </div>
        </div>

        <div class="movie-container">
          <div class="movies__movie">
            <img src="/images/movie5.jpg" alt="">
              <div class="rate">
                85<sup>%</sup>
              </div>
              <i class="fa-solid fa-heart not-fav"></i>
          </div>

          <div class="details">
            <h1 class="movie-name">The Boys</h1>
            <p class="movie-date">Jul 25,2019</p>
          </div>
        </div>


      <div class="movie-container">
        <div class="movies__movie">
          <img src="/images/movie6.jpg" alt="">
            <div class="rate">
              85<sup>%</sup>
            </div>
            <i class="fa-solid fa-heart not-fav"></i>
        </div>
        <div class="details">
          <h1 class="movie-name">The Boys</h1>
          <p class="movie-date">Jul 25,2019</p>
        </div>
      </div>


      <div class="movie-container">
        <div class="movies__movie">
          <img src="/images/movie7.jpg" alt="">
            <div class="rate">
              85<sup>%</sup>
            </div>
            <i class="fa-solid fa-heart not-fav"></i>
        </div>
        <div class="details">
          <h1 class="movie-name">The Boys</h1>
          <p class="movie-date">Jul 25,2019</p>
        </div>
      </div>
          <button id = 'myls'>/myls</button>
        </div>
      </section>

    </main>

    <footer class="main-footer">
      <ul class="footer__items">
        <li class="footer__item"><a>Support</a></li>
        <li class="footer__item"><a>Contact Us</a></li>
      </ul>
    </footer>
   <script src='/requests.js'></script>
   <script src="/getUserData.js"></script>
  </body>
</html>
